.grublogo {
  height: 70px;
  padding:10;
}


.mainbody {
  background-color: #fafafa;
}


.titletext {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}


.dialogtext {
  color: #ef2468;
  font-weight: bold;
  font-size: 28px;
  display:table;
  margin:0 auto;
}


.block {
  height: 80px;
}


.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.username {
  font-size: 20px;
  font-weight: bold;
  color: #ef2468;
  margin-top: 4%;
}
