.mainbody {
  background-color: #fafafa;
}

.titletext {
  color: #ef2468;
  font-weight: bold;
  font-size: 48px;
}

p {
  font-size: 18px;
  padding: 10px 35px;
}

.psummary {
  font-size: 12px;
  padding: 2px 35px;
}

.btnorderagain {
  padding: 0px 15px 35px;
}

header {
  position: relative;
  height: 300px;
  background: #ef2468;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.center-card {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.username {
  font-size: 20px;
  font-weight: bold;
  color: #ef2468;
  margin-top: 4%;
}
