.grublogo {
	height: 70px;
	padding:10;
}


.top-right-btn {
	font-weight: bold;
}


.mainbody {
	background-color: #fafafa;
}


.block {
	height: 80px;
}


.username {
	font-size: 20px;
	font-weight: bold;
	color: #ef2468;
	margin-top: 4%;
}